.home{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* align-items: center; */

}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 75%;

}

.Sidebar {
    height: 100%;
    width: 30%;
    align-items:start;
}

.Events-container {
  height: 100%;
  width: 75%;
  text-align: center;
}

.Events-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative; 
}

.Events-title {
  text-align: center;
  margin: 0;
  flex: 0; 
}

.Event-add-wrapper {
  position: relative;
  height: 0;
  right: 1.5rem; 
}

.Event-add {
  position: absolute;
  height: fit-content;
  width: 125px;
  bottom: -18px;
  left: 500px;
  background-color: #646cff;
  border-radius: 20px;
}

.Event-add:hover {
  border-radius: 20px;
  background-color: #555bdb;
}