.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 99%;
    padding: 10px;
    background-color: #f5f7fa;
    border: 1px solid #d1d5db;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    
}

.profile-link {
    width: fit-content !important;
    height: fit-content !important;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}